%table#parkinglots
  %thead
    %tr
      %th Street address
      %th Price per hour
      %th Free lots
      %th Distance (km)
  -#%tbody
  -#  - @parkinglots.each do |parkinglot|
  -#    %tr
  -#      %td= parkinglot.streetaddress
  -#      %td= parkinglot.parkinglotdetail.priceperhour
  -#      %td= parkinglot.parkinglotdetail.freelots
  -#      %td= parkinglot.parkinglotdetail.distance