!!! 5
%html
  %head
    %title Find Me A Lot
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Query parking lots
    #main


      = yield